.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.leftside {
  text-align: center;
}

.rightside {
  text-align: center;
  
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
}

